.parcell {
    background-color: rgb(114, 191, 236);
}

.void {
    background-color: rgb(0, 143, 55);
}

.path {
    background-color: rgb(226, 205, 84);
}

.path-start {
    background-color: rgb(226, 160, 84);
}

.path-end {
    background-color: rgb(84, 226, 108);
}

.path, .parcell, .void, .path-start, .path-end {
    height: 50px;
    width: 50px;
    /*
    border-style: outset;
    */
}